@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <h2>KhumaloCraft</h2>
    <h3>KhumaloCraft Emporium as a global e-commerce platform to showcase handcrafted products. Our dream is to involve and connect artisans worldwide with a discerning audience.</h3>
</div>
<img src="~/images/_14fa2122-a09e-4488-a82e-6663b173d753.jpg" />

