
@{
    ViewData["Title"] = "My Work";
}




<div class="product-container" style="padding: 20px;">
    <img src="~/images/_7a8a27c3-bdad-42e1-9289-e4df0711cbf6.jpg" width="100" />
    <div class="product-info">
        <h3>Hand Woven Basket</h3>
        <p>Our gorgeous Hand Woven Baskets will add a touch of elegance to your home décor. Each basket is an exquisite creation, the result of expert artisans using age-old methods that have been passed down through the years. These baskets, which are made of natural fibers, are not only lovely but also environmentally friendly. Whether they are utilized as showcase pieces or for organizing necessities, our hand-woven baskets bring warmth and genuineness to any area.</p>
        <div class="price"> R 700,00</div>
        <button class="btn btn-primary"> Buy now</button>
    </div>
</div>

<div class="product-container" style="padding: 20px;">
    <img src="~/images/_9f70498e-0a99-4749-9d8e-3208f94205c6.jpg" width="100" />
    <div class="product-info">
        <h3>Handcrafted Lion</h3>
        <p>With our Handcrafted Lions, you can bring the majesty and beauty of the savanna into your home. Each lion, painstakingly crafted by skilled artisans, embodies the strength and elegance of these majestic animals. Each piece is genuinely unique due to the richness and character that hand-painted details bring. Our handcrafted lions are an intriguing addition to any collection, perfect for creating a sense of surprise and amazement whether they are displayed on shelves, mantels, or as a focal piece in any area.</p>
        <div class="price"> R 1100,00</div>
        <button class="btn btn-primary"> Buy now </button>
    </div>
</div>

<div class="product-container" style="padding: 20px;">
    <img src="~/images/_0bf53481-5f4a-4846-b626-8607a2ebf8b0.jpg" width="100"/>
<div class="product-info">
        <h3>Handcrafted African Barcelet</h3>
        <p>With the help of our exquisite African Bracelets, learn about the rich history and cultural significance of Africa. Each bracelet is uniquely crafted by knowledgeable artists utilizing colorful materials and age-old methods, telling a tale of artistry and customs. Our African bracelets, which showcase elaborate beadwork, carved designs, or meaningful charms, transcend beyond simple accessories to become wearing artworks that honor the richness and complexity of African culture.</p>
        <div class="price"> R 300,00</div>
        <button class="btn btn-primary"> Buy now</button>
</div>
</div>

<div class="product-container" style="padding: 20px;">
    <img src="~/images/_3622d2d8-67a1-4bfa-b0e1-cbf8e6680c66.jpg" width="100"/>
<div class="product-info">
        <h3>Handcrafted beaded necklace</h3>
        <p>With our eye-catching Beaded Necklaces, you can make a big impression. Each necklace is a work of art, a testament to the passion and accuracy of talented artisans and the beauty of handcrafted jewelry. Our necklaces, adorned with a variety of vibrant beads, precious stones, and distinctive details, give a sense of individuality to every ensemble. Our beaded necklaces are a must-have accessory for any fashion fan since they radiate flair and refinement, whether they are worn as a statement piece by themselves or stacked for a trendy vibe.</p>
        <div class="price"> R 450,00</div>
        <button class="btn btn-primary"> Buy now</button>
</div>
</div>

<style>
.layout {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
img{
    border-radius:50%;
}

    .price {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }
</style>
